This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [10]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'TKsskHzpgwxt9BQ9jP7d'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [14]:
# First, import the relevant modules
import quandl
import requests
import collections
import json

In [24]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
quandl.ApiConfig.api_key = "TKsskHzpgwxt9BQ9jP7d"
data = quandl.get('FSE/AFX_X', start_date='2018-12-21', end_date='2018-12-21')
data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-12-21,None,69.3,67.9,68.95,None,None,None,None,None,None

In [25]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data = data = quandl.get("FSE/AFX_X", returns="numpy")
json_data

rec.array([ (datetime.datetime(2000, 6, 7, 0, 0),  nan,   nan,    nan,  38.  ,  nan,   0.,  nan, None, None,   0.),
           (datetime.datetime(2000, 6, 8, 0, 0),  nan,   nan,    nan,  38.  ,  nan,   0.,  nan, None, None,   0.),
           (datetime.datetime(2000, 6, 9, 0, 0),  nan,   nan,    nan,  45.  ,  nan,   0.,  nan, None, None,   0.),
           ...,
           (datetime.datetime(2018, 12, 19, 0, 0),  nan,  71.7,  69.7 ,  70.9 ,  nan,  nan,  nan, None, None,  nan),
           (datetime.datetime(2018, 12, 20, 0, 0),  nan,  70.6,  69.15,  69.35,  nan,  nan,  nan, None, None,  nan),
           (datetime.datetime(2018, 12, 21, 0, 0),  nan,  69.3,  67.9 ,  68.95,  nan,  nan,  nan, None, None,  nan)],
          dtype=[('Date', 'O'), ('Open', '<f8'), ('High', '<f8'), ('Low', '<f8'), ('Close', '<f8'), ('Change', '<f8'), ('Traded Volume', '<f8'), ('Turnover', '<f8'), ('Last Price of the Day', 'O'), ('Daily Traded Units', 'O'), ('Daily Turnover', '<f8')])

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [26]:
#1.
FSE_data = quandl.get('FSE/AFX_X', start_date='2017-01-01', end_date='2017-12-31')
FSE_data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None
2017-01-09,35.29,35.35,34.43,34.67,NaN,62225.0,2157182.0,None,None,None
2017-01-10,34.80,34.98,34.46,34.91,NaN,43976.0,1528055.0,None,None,None
2017-01-11,34.95,36.00,34.84,35.42,NaN,123530.0,4369079.0,None,None,None
2017-01-12,35.38,35.38,34.31,34.90,NaN,163860.0,5703427.0,None,None,None
2017-01-13,34.98,34.98,34.60,34.85,NaN,59367.0,2065534.0,None,None,None
2017-01-16,34.85,35.24,34.56,35.07,NaN,47879.0,1678679.0,None,None,None
2017-01-17,35.06,35.19,34.79,34.99,NaN,39195.0,1369857.0,None,None,None
2017-01-18,35.04,35.51,34.80,34.90,NaN,65931.0,2311608.0,None,None,None
2017-01-19,35.04,35.04,34.42,34.50,NaN,73105.0,2526731.0,None,None,None
2017-01-20,34.54,34.59,34.05,34.17,NaN,80246.0,2743474.0,None,None,None
2017-01-23,34.04,34.12,33.62,34.06,NaN,55333.0,1877957.0,None,None,None
2017-01-24,34.00,34.35,33.85,34.22,NaN,48797.0,1666086.0,None,None,None
2017-01-25,34.42,34.86,34.03,34.83,NaN,56240.0,1947147.0,None,None,None
2017-01-26,35.07,35.58,34.80,34.89,NaN,64103.0,2249375.0,None,None,None
2017-01-27,34.83,35.43,34.81,35.30,NaN,69657.0,2444913.0,None,None,None
2017-01-30,35.38,35.59,34.95,35.15,NaN,69603.0,2457762.0,None,None,None
2017-01-31,35.24,35.24,34.56,34.56,NaN,63371.0,2199583.0,None,None,None
2017-02-01,34.75,36.00,34.75,35.94,NaN,85137.0,3038172.0,None,None,None
2017-02-02,35.95,36.20,35.70,36.07,NaN,54279.0,1953176.0,None,None,None
2017-02-03,36.02,36.20,35.73,36.10,NaN,40705.0,1464712.0,None,None,None
2017-02-06,36.06,36.15,35.60,35.64,NaN,41911.0,1496794.0,None,None,None
2017-02-07,35.56,36.05,35.36,35.89,NaN,67410.0,2410818.0,None,None,None
2017-02-08,35.98,36.14,35.84,36.05,NaN,39731.0,1431205.0,None,None,None
2017-02-09,36.20,36.25,35.77,36.25,NaN,67781.0,2445428.0,None,None,None
2017-02-10,36.65,37.50,36.57,37.06,NaN,115843.0,4291017.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...
2017-11-16,47.09,47.23,46.55,47.03,NaN,89373.0,4195732.0,None,None,None
2017-11-17,47.03,47.15,46.80,46.84,NaN,54107.0,2540820.0,None,None,None
2017-11-20,46.57,47.38,46.54,47.04,NaN,97252.0,4563515.0,None,None,None
2017-11-21,47.25,48.59,46.78,48.39,NaN,78502.0,3782098.0,None,None,None
2017-11-22,48.40,49.61,48.39,48.80,NaN,91142.0,4478093.0,None,None,None
2017-11-23,48.80,49.46,48.45,49.20,NaN,38834.0,1909352.0,None,None,None
2017-11-24,49.11,49.41,48.87,49.11,NaN,50350.0,2472842.0,None,None,None
2017-11-27,49.13,49.73,48.96,49.20,NaN,102180.0,5055762.0,None,None,None
2017-11-28,49.09,49.89,49.03,49.25,NaN,42669.0,2107358.0,None,None,None
2017-11-29,49.64,49.64,48.70,48.75,NaN,67342.0,3292223.0,None,None,None
2017-11-30,48.64,49.84,48.28,49.70,NaN,123019.0,6085171.0,None,None,None
2017-12-01,49.52,50.49,49.17,49.86,NaN,101733.0,5065932.0,None,None,None
2017-12-04,49.50,51.23,49.50,51.14,NaN,94385.0,4800027.0,None,None,None
2017-12-05,51.21,51.38,50.40,51.25,NaN,83023.0,4231971.0,None,None,None
2017-12-06,50.80,51.11,50.39,50.89,NaN,88730.0,4504075.0,None,None,None
2017-12-07,50.89,51.47,50.81,51.47,NaN,48123.0,2463848.0,None,None,None
2017-12-08,51.50,52.83,51.28,52.12,NaN,109157.0,5690648.0,None,None,None
2017-12-11,52.28,52.45,51.26,52.14,NaN,71817.0,3724193.0,None,None,None
2017-12-12,52.29,53.10,51.82,52.43,NaN,87911.0,4615924.0,None,None,None
2017-12-13,52.64,53.35,52.48,53.09,NaN,128434.0,6801159.0,None,None,None
2017-12-14,53.11,53.54,52.15,52.67,NaN,132981.0,7016953.0,None,None,None
2017-12-15,52.70,52.70,51.64,52.01,NaN,204080.0,10596319.0,None,None,None
2017-12-18,52.37,52.75,51.61,52.62,NaN,129733.0,6770499.0,None,None,None
2017-12-19,52.73,52.73,51.07,51.66,NaN,137313.0,7102361.0,None,None,None
2017-12-20,51.88,52.04,51.20,51.27,NaN,50587.0,2610258.0,None,None,None
2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None
2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None

In [27]:
#2.
FSE_data_dict = dict(FSE_data)
FSE_data_dict

{'Change': Date
 2017-01-02   NaN
 2017-01-03   NaN
 2017-01-04   NaN
 2017-01-05   NaN
 2017-01-06   NaN
 2017-01-09   NaN
 2017-01-10   NaN
 2017-01-11   NaN
 2017-01-12   NaN
 2017-01-13   NaN
 2017-01-16   NaN
 2017-01-17   NaN
 2017-01-18   NaN
 2017-01-19   NaN
 2017-01-20   NaN
 2017-01-23   NaN
 2017-01-24   NaN
 2017-01-25   NaN
 2017-01-26   NaN
 2017-01-27   NaN
 2017-01-30   NaN
 2017-01-31   NaN
 2017-02-01   NaN
 2017-02-02   NaN
 2017-02-03   NaN
 2017-02-06   NaN
 2017-02-07   NaN
 2017-02-08   NaN
 2017-02-09   NaN
 2017-02-10   NaN
               ..
 2017-11-16   NaN
 2017-11-17   NaN
 2017-11-20   NaN
 2017-11-21   NaN
 2017-11-22   NaN
 2017-11-23   NaN
 2017-11-24   NaN
 2017-11-27   NaN
 2017-11-28   NaN
 2017-11-29   NaN
 2017-11-30   NaN
 2017-12-01   NaN
 2017-12-04   NaN
 2017-12-05   NaN
 2017-12-06   NaN
 2017-12-07   NaN
 2017-12-08   NaN
 2017-12-11   NaN
 2017-12-12   NaN
 2017-12-13   NaN
 2017-12-14   NaN
 2017-12-15   NaN
 2017-12-18   NaN
 2017-12-19   NaN
 2017-12-20   NaN
 2017-12-21   NaN
 2017-12-22   NaN
 2017-12-27   NaN
 2017-12-28   NaN
 2017-12-29   NaN
 Name: Change, Length: 255, dtype: float64, 'Close': Date
 2017-01-02    35.80
 2017-01-03    35.48
 2017-01-04    35.19
 2017-01-05    35.06
 2017-01-06    35.04
 2017-01-09    34.67
 2017-01-10    34.91
 2017-01-11    35.42
 2017-01-12    34.90
 2017-01-13    34.85
 2017-01-16    35.07
 2017-01-17    34.99
 2017-01-18    34.90
 2017-01-19    34.50
 2017-01-20    34.17
 2017-01-23    34.06
 2017-01-24    34.22
 2017-01-25    34.83
 2017-01-26    34.89
 2017-01-27    35.30
 2017-01-30    35.15
 2017-01-31    34.56
 2017-02-01    35.94
 2017-02-02    36.07
 2017-02-03    36.10
 2017-02-06    35.64
 2017-02-07    35.89
 2017-02-08    36.05
 2017-02-09    36.25
 2017-02-10    37.06
               ...
 2017-11-16    47.03
 2017-11-17    46.84
 2017-11-20    47.04
 2017-11-21    48.39
 2017-11-22    48.80
 2017-11-23    49.20
 2017-11-24    49.11
 2017-11-27    49.20
 2017-11-28    49.25
 2017-11-29    48.75
 2017-11-30    49.70
 2017-12-01    49.86
 2017-12-04    51.14
 2017-12-05    51.25
 2017-12-06    50.89
 2017-12-07    51.47
 2017-12-08    52.12
 2017-12-11    52.14
 2017-12-12    52.43
 2017-12-13    53.09
 2017-12-14    52.67
 2017-12-15    52.01
 2017-12-18    52.62
 2017-12-19    51.66
 2017-12-20    51.27
 2017-12-21    51.40
 2017-12-22    51.32
 2017-12-27    51.82
 2017-12-28    51.60
 2017-12-29    51.76
 Name: Close, Length: 255, dtype: float64, 'Daily Traded Units': Date
 2017-01-02    None
 2017-01-03    None
 2017-01-04    None
 2017-01-05    None
 2017-01-06    None
 2017-01-09    None
 2017-01-10    None
 2017-01-11    None
 2017-01-12    None
 2017-01-13    None
 2017-01-16    None
 2017-01-17    None
 2017-01-18    None
 2017-01-19    None
 2017-01-20    None
 2017-01-23    None
 2017-01-24    None
 2017-01-25    None
 2017-01-26    None
 2017-01-27    None
 2017-01-30    None
 2017-01-31    None
 2017-02-01    None
 2017-02-02    None
 2017-02-03    None
 2017-02-06    None
 2017-02-07    None
 2017-02-08    None
 2017-02-09    None
 2017-02-10    None
               ...
 2017-11-16    None
 2017-11-17    None
 2017-11-20    None
 2017-11-21    None
 2017-11-22    None
 2017-11-23    None
 2017-11-24    None
 2017-11-27    None
 2017-11-28    None
 2017-11-29    None
 2017-11-30    None
 2017-12-01    None
 2017-12-04    None
 2017-12-05    None
 2017-12-06    None
 2017-12-07    None
 2017-12-08    None
 2017-12-11    None
 2017-12-12    None
 2017-12-13    None
 2017-12-14    None
 2017-12-15    None
 2017-12-18    None
 2017-12-19    None
 2017-12-20    None
 2017-12-21    None
 2017-12-22    None
 2017-12-27    None
 2017-12-28    None
 2017-12-29    None
 Name: Daily Traded Units, Length: 255, dtype: object, 'Daily Turnover': Date
 2017-01-02    None
 2017-01-03    None
 2017-01-04    None
 2017-01-05    None
 2017-01-06    None
 2017-01-09    None
 2017-01-10    None
 2017-01-11    None
 2017-01-12    None
 2017-01-13    None
 2017-01-16    None
 2017-01-17    None
 2017-01-18    None
 2017-01-19    None
 2017-01-20    None
 2017-01-23    None
 2017-01-24    None
 2017-01-25    None
 2017-01-26    None
 2017-01-27    None
 2017-01-30    None
 2017-01-31    None
 2017-02-01    None
 2017-02-02    None
 2017-02-03    None
 2017-02-06    None
 2017-02-07    None
 2017-02-08    None
 2017-02-09    None
 2017-02-10    None
               ...
 2017-11-16    None
 2017-11-17    None
 2017-11-20    None
 2017-11-21    None
 2017-11-22    None
 2017-11-23    None
 2017-11-24    None
 2017-11-27    None
 2017-11-28    None
 2017-11-29    None
 2017-11-30    None
 2017-12-01    None
 2017-12-04    None
 2017-12-05    None
 2017-12-06    None
 2017-12-07    None
 2017-12-08    None
 2017-12-11    None
 2017-12-12    None
 2017-12-13    None
 2017-12-14    None
 2017-12-15    None
 2017-12-18    None
 2017-12-19    None
 2017-12-20    None
 2017-12-21    None
 2017-12-22    None
 2017-12-27    None
 2017-12-28    None
 2017-12-29    None
 Name: Daily Turnover, Length: 255, dtype: object, 'High': Date
 2017-01-02    35.94
 2017-01-03    35.93
 2017-01-04    35.51
 2017-01-05    35.20
 2017-01-06    35.21
 2017-01-09    35.35
 2017-01-10    34.98
 2017-01-11    36.00
 2017-01-12    35.38
 2017-01-13    34.98
 2017-01-16    35.24
 2017-01-17    35.19
 2017-01-18    35.51
 2017-01-19    35.04
 2017-01-20    34.59
 2017-01-23    34.12
 2017-01-24    34.35
 2017-01-25    34.86
 2017-01-26    35.58
 2017-01-27    35.43
 2017-01-30    35.59
 2017-01-31    35.24
 2017-02-01    36.00
 2017-02-02    36.20
 2017-02-03    36.20
 2017-02-06    36.15
 2017-02-07    36.05
 2017-02-08    36.14
 2017-02-09    36.25
 2017-02-10    37.50
               ...
 2017-11-16    47.23
 2017-11-17    47.15
 2017-11-20    47.38
 2017-11-21    48.59
 2017-11-22    49.61
 2017-11-23    49.46
 2017-11-24    49.41
 2017-11-27    49.73
 2017-11-28    49.89
 2017-11-29    49.64
 2017-11-30    49.84
 2017-12-01    50.49
 2017-12-04    51.23
 2017-12-05    51.38
 2017-12-06    51.11
 2017-12-07    51.47
 2017-12-08    52.83
 2017-12-11    52.45
 2017-12-12    53.10
 2017-12-13    53.35
 2017-12-14    53.54
 2017-12-15    52.70
 2017-12-18    52.75
 2017-12-19    52.73
 2017-12-20    52.04
 2017-12-21    51.52
 2017-12-22    51.50
 2017-12-27    51.89
 2017-12-28    51.82
 2017-12-29    51.94
 Name: High, Length: 255, dtype: float64, 'Last Price of the Day': Date
 2017-01-02    None
 2017-01-03    None
 2017-01-04    None
 2017-01-05    None
 2017-01-06    None
 2017-01-09    None
 2017-01-10    None
 2017-01-11    None
 2017-01-12    None
 2017-01-13    None
 2017-01-16    None
 2017-01-17    None
 2017-01-18    None
 2017-01-19    None
 2017-01-20    None
 2017-01-23    None
 2017-01-24    None
 2017-01-25    None
 2017-01-26    None
 2017-01-27    None
 2017-01-30    None
 2017-01-31    None
 2017-02-01    None
 2017-02-02    None
 2017-02-03    None
 2017-02-06    None
 2017-02-07    None
 2017-02-08    None
 2017-02-09    None
 2017-02-10    None
               ...
 2017-11-16    None
 2017-11-17    None
 2017-11-20    None
 2017-11-21    None
 2017-11-22    None
 2017-11-23    None
 2017-11-24    None
 2017-11-27    None
 2017-11-28    None
 2017-11-29    None
 2017-11-30    None
 2017-12-01    None
 2017-12-04    None
 2017-12-05    None
 2017-12-06    None
 2017-12-07    None
 2017-12-08    None
 2017-12-11    None
 2017-12-12    None
 2017-12-13    None
 2017-12-14    None
 2017-12-15    None
 2017-12-18    None
 2017-12-19    None
 2017-12-20    None
 2017-12-21    None
 2017-12-22    None
 2017-12-27    None
 2017-12-28    None
 2017-12-29    None
 Name: Last Price of the Day, Length: 255, dtype: object, 'Low': Date
 2017-01-02    34.99
 2017-01-03    35.34
 2017-01-04    34.75
 2017-01-05    34.73
 2017-01-06    34.91
 2017-01-09    34.43
 2017-01-10    34.46
 2017-01-11    34.84
 2017-01-12    34.31
 2017-01-13    34.60
 2017-01-16    34.56
 2017-01-17    34.79
 2017-01-18    34.80
 2017-01-19    34.42
 2017-01-20    34.05
 2017-01-23    33.62
 2017-01-24    33.85
 2017-01-25    34.03
 2017-01-26    34.80
 2017-01-27    34.81
 2017-01-30    34.95
 2017-01-31    34.56
 2017-02-01    34.75
 2017-02-02    35.70
 2017-02-03    35.73
 2017-02-06    35.60
 2017-02-07    35.36
 2017-02-08    35.84
 2017-02-09    35.77
 2017-02-10    36.57
               ...
 2017-11-16    46.55
 2017-11-17    46.80
 2017-11-20    46.54
 2017-11-21    46.78
 2017-11-22    48.39
 2017-11-23    48.45
 2017-11-24    48.87
 2017-11-27    48.96
 2017-11-28    49.03
 2017-11-29    48.70
 2017-11-30    48.28
 2017-12-01    49.17
 2017-12-04    49.50
 2017-12-05    50.40
 2017-12-06    50.39
 2017-12-07    50.81
 2017-12-08    51.28
 2017-12-11    51.26
 2017-12-12    51.82
 2017-12-13    52.48
 2017-12-14    52.15
 2017-12-15    51.64
 2017-12-18    51.61
 2017-12-19    51.07
 2017-12-20    51.20
 2017-12-21    50.90
 2017-12-22    50.92
 2017-12-27    50.76
 2017-12-28    51.43
 2017-12-29    51.45
 Name: Low, Length: 255, dtype: float64, 'Open': Date
 2017-01-02    34.99
 2017-01-03    35.90
 2017-01-04    35.48
 2017-01-05    35.02
 2017-01-06    34.91
 2017-01-09    35.29
 2017-01-10    34.80
 2017-01-11    34.95
 2017-01-12    35.38
 2017-01-13    34.98
 2017-01-16    34.85
 2017-01-17    35.06
 2017-01-18    35.04
 2017-01-19    35.04
 2017-01-20    34.54
 2017-01-23    34.04
 2017-01-24    34.00
 2017-01-25    34.42
 2017-01-26    35.07
 2017-01-27    34.83
 2017-01-30    35.38
 2017-01-31    35.24
 2017-02-01    34.75
 2017-02-02    35.95
 2017-02-03    36.02
 2017-02-06    36.06
 2017-02-07    35.56
 2017-02-08    35.98
 2017-02-09    36.20
 2017-02-10    36.65
               ...
 2017-11-16    47.09
 2017-11-17    47.03
 2017-11-20    46.57
 2017-11-21    47.25
 2017-11-22    48.40
 2017-11-23    48.80
 2017-11-24    49.11
 2017-11-27    49.13
 2017-11-28    49.09
 2017-11-29    49.64
 2017-11-30    48.64
 2017-12-01    49.52
 2017-12-04    49.50
 2017-12-05    51.21
 2017-12-06    50.80
 2017-12-07    50.89
 2017-12-08    51.50
 2017-12-11    52.28
 2017-12-12    52.29
 2017-12-13    52.64
 2017-12-14    53.11
 2017-12-15    52.70
 2017-12-18    52.37
 2017-12-19    52.73
 2017-12-20    51.88
 2017-12-21    51.16
 2017-12-22    51.05
 2017-12-27    51.45
 2017-12-28    51.65
 2017-12-29    51.76
 Name: Open, Length: 255, dtype: float64, 'Traded Volume': Date
 2017-01-02     44700.0
 2017-01-03     70618.0
 2017-01-04     54408.0
 2017-01-05     48412.0
 2017-01-06     27507.0
 2017-01-09     62225.0
 2017-01-10     43976.0
 2017-01-11    123530.0
 2017-01-12    163860.0
 2017-01-13     59367.0
 2017-01-16     47879.0
 2017-01-17     39195.0
 2017-01-18     65931.0
 2017-01-19     73105.0
 2017-01-20     80246.0
 2017-01-23     55333.0
 2017-01-24     48797.0
 2017-01-25     56240.0
 2017-01-26     64103.0
 2017-01-27     69657.0
 2017-01-30     69603.0
 2017-01-31     63371.0
 2017-02-01     85137.0
 2017-02-02     54279.0
 2017-02-03     40705.0
 2017-02-06     41911.0
 2017-02-07     67410.0
 2017-02-08     39731.0
 2017-02-09     67781.0
 2017-02-10    115843.0
                 ...
 2017-11-16     89373.0
 2017-11-17     54107.0
 2017-11-20     97252.0
 2017-11-21     78502.0
 2017-11-22     91142.0
 2017-11-23     38834.0
 2017-11-24     50350.0
 2017-11-27    102180.0
 2017-11-28     42669.0
 2017-11-29     67342.0
 2017-11-30    123019.0
 2017-12-01    101733.0
 2017-12-04     94385.0
 2017-12-05     83023.0
 2017-12-06     88730.0
 2017-12-07     48123.0
 2017-12-08    109157.0
 2017-12-11     71817.0
 2017-12-12     87911.0
 2017-12-13    128434.0
 2017-12-14    132981.0
 2017-12-15    204080.0
 2017-12-18    129733.0
 2017-12-19    137313.0
 2017-12-20     50587.0
 2017-12-21    120649.0
 2017-12-22     71165.0
 2017-12-27     57452.0
 2017-12-28     40660.0
 2017-12-29     34640.0
 Name: Traded Volume, Length: 255, dtype: float64, 'Turnover': Date
 2017-01-02     1590561.0
 2017-01-03     2515473.0
 2017-01-04     1906810.0
 2017-01-05     1692326.0
 2017-01-06      964046.0
 2017-01-09     2157182.0
 2017-01-10     1528055.0
 2017-01-11     4369079.0
 2017-01-12     5703427.0
 2017-01-13     2065534.0
 2017-01-16     1678679.0
 2017-01-17     1369857.0
 2017-01-18     2311608.0
 2017-01-19     2526731.0
 2017-01-20     2743474.0
 2017-01-23     1877957.0
 2017-01-24     1666086.0
 2017-01-25     1947147.0
 2017-01-26     2249375.0
 2017-01-27     2444913.0
 2017-01-30     2457762.0
 2017-01-31     2199583.0
 2017-02-01     3038172.0
 2017-02-02     1953176.0
 2017-02-03     1464712.0
 2017-02-06     1496794.0
 2017-02-07     2410818.0
 2017-02-08     1431205.0
 2017-02-09     2445428.0
 2017-02-10     4291017.0
                  ...
 2017-11-16     4195732.0
 2017-11-17     2540820.0
 2017-11-20     4563515.0
 2017-11-21     3782098.0
 2017-11-22     4478093.0
 2017-11-23     1909352.0
 2017-11-24     2472842.0
 2017-11-27     5055762.0
 2017-11-28     2107358.0
 2017-11-29     3292223.0
 2017-11-30     6085171.0
 2017-12-01     5065932.0
 2017-12-04     4800027.0
 2017-12-05     4231971.0
 2017-12-06     4504075.0
 2017-12-07     2463848.0
 2017-12-08     5690648.0
 2017-12-11     3724193.0
 2017-12-12     4615924.0
 2017-12-13     6801159.0
 2017-12-14     7016953.0
 2017-12-15    10596319.0
 2017-12-18     6770499.0
 2017-12-19     7102361.0
 2017-12-20     2610258.0
 2017-12-21     6179433.0
 2017-12-22     3641949.0
 2017-12-27     2957018.0
 2017-12-28     2099024.0
 2017-12-29     1792304.0
 Name: Turnover, Length: 255, dtype: float64}

In [31]:
#3.
High = max(FSE_data_dict['High'])
High

Low = min(FSE_data_dict['Low'])
Low

33.619999999999997

In [38]:
#4.
max_change = max(abs((FSE_data_dict['High'])-(FSE_data_dict['Low'])))
max_change

2.8100000000000023

In [75]:
#5.
max([x - FSE_data_dict['Close'][i-1] if i else None for i, x in enumerate(FSE_data_dict['Close'])][1:])

1.7199999999999989

In [79]:
#6.
avg_vol = sum(FSE_data_dict['Traded Volume'])/len(FSE_data_dict['Traded Volume'])
avg_vol

89124.337254901955

In [112]:
#7.
import math
med_list = sorted(list(FSE_data_dict['Traded Volume']))
print(med_list)

if (len(med_list)/2) % 2 == 0:
    med_value=med_list[len(med_list)/2]
else:
    med_value=(med_list[math.ceil(len(med_list)/2)]+med_list[math.floor(len(med_list)/2)])/2
med_value

[45.0, 112.0, 290.0, 522.0, 587.0, 686.0, 1081.0, 1945.0, 27507.0, 34640.0, 37014.0, 37958.0, 38308.0, 38518.0, 38834.0, 39195.0, 39731.0, 40660.0, 40705.0, 40800.0, 41911.0, 42669.0, 43042.0, 43362.0, 43375.0, 43976.0, 43988.0, 44037.0, 44059.0, 44700.0, 44803.0, 45111.0, 45263.0, 46070.0, 46510.0, 47130.0, 47730.0, 47879.0, 47999.0, 48123.0, 48152.0, 48412.0, 48706.0, 48797.0, 49180.0, 49246.0, 49863.0, 49970.0, 50350.0, 50549.0, 50557.0, 50587.0, 51321.0, 52828.0, 54107.0, 54279.0, 54408.0, 55333.0, 55707.0, 55799.0, 56071.0, 56224.0, 56240.0, 56245.0, 56319.0, 56319.0, 56906.0, 56911.0, 57452.0, 57838.0, 59367.0, 59881.0, 59991.0, 60324.0, 60420.0, 60583.0, 60716.0, 61925.0, 62225.0, 62297.0, 62655.0, 62672.0, 63371.0, 64103.0, 64320.0, 64334.0, 65157.0, 65213.0, 65266.0, 65546.0, 65837.0, 65847.0, 65860.0, 65931.0, 66116.0, 66351.0, 66760.0, 67342.0, 67375.0, 67410.0, 67440.0, 67593.0, 67672.0, 67781.0, 68801.0, 68812.0, 69455.0, 69603.0, 69657.0, 69734.0, 70056.0, 70269.0, 70618.0, 70856.0, 71006.0, 71165.0, 71381.0, 71817.0, 71868.0, 71971.0, 72886.0, 73105.0, 73322.0, 73422.0, 74453.0, 74472.0, 74975.0, 76286.0, 76600.0, 77420.0, 77619.0, 77854.0, 78502.0, 78512.0, 79955.0, 80246.0, 80586.0, 81255.0, 81945.0, 81970.0, 82058.0, 82492.0, 82601.0, 82745.0, 83023.0, 83741.0, 84682.0, 85137.0, 85973.0, 86348.0, 86348.0, 86559.0, 86753.0, 87399.0, 87911.0, 88416.0, 88416.0, 88416.0, 88730.0, 89373.0, 89752.0, 90109.0, 90245.0, 90538.0, 91142.0, 91858.0, 92722.0, 94195.0, 94385.0, 94804.0, 95313.0, 95376.0, 95382.0, 96202.0, 96794.0, 97252.0, 97456.0, 97572.0, 97804.0, 98156.0, 99674.0, 99821.0, 101294.0, 101476.0, 101733.0, 101733.0, 102084.0, 102180.0, 103273.0, 104003.0, 104282.0, 104676.0, 104995.0, 105194.0, 105288.0, 106513.0, 107144.0, 107644.0, 107817.0, 108334.0, 109157.0, 111923.0, 112224.0, 112942.0, 114006.0, 115075.0, 115705.0, 115706.0, 115843.0, 117165.0, 120268.0, 120649.0, 123019.0, 123530.0, 127682.0, 127973.0, 128434.0, 129733.0, 131361.0, 132981.0, 133057.0, 134965.0, 136112.0, 137313.0, 149515.0, 151439.0, 151474.0, 151683.0, 156005.0, 156168.0, 157234.0, 157888.0, 158278.0, 159495.0, 163860.0, 164543.0, 166160.0, 169971.0, 175161.0, 177171.0, 183412.0, 186784.0, 187468.0, 189125.0, 189201.0, 191515.0, 193156.0, 193702.0, 202214.0, 204080.0, 210926.0, 223621.0, 335406.0, 355857.0, 670349.0]

76443.0